body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  background-image: url("https://images.unsplash.com/photo-1602521520187-e22a3fac9271?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  display: flex;
  height: 100vh ;
  align-items: center;
  justify-content: center;
}

.textstyle{
font-size: 40px;
padding: 0px;
font-weight: 600;
}

.btn{
  align-items: 70%;
padding: 10px;
font: size 20px;
border-radius: 10px;
font-weight: 600;
background-color: cornflowerblue;
position: relative;
left: 28%;
}

.card{
  text-align: center;
 
 padding-bottom: 40px;
  padding-top: 80px;
  padding-left: 20px;
  background-color: cornflowerblue;
}
.card-body{
  border: 20px slateblue;
}
.card-title{
  font-size: 25px;
 

}
.card-text{
  font-size: 18px;
}
.card-img-top{
  height: 100px;
}
